.root {
	-chess-color-light-gray: #e0e0e0;
	-chess-color-parchment: #e5e2ca;
	-chess-color-green: #506d2f;
	-chess-color-dark-red: #9e2f1e;
	-chess-color-off-white: #eeeeee;
	-chess-color-black: #000000;
	-chess-color-orange: #f0b41f;

	-fx-font-family: "Quicksand";
	-fx-font-size: 12pt;
	-fx-font-weight: bold;
	-fx-font-color: -chess-color-black;
	-fx-box-border: transparent;
	-fx-color: -chess-color-parchment;
	-fx-background-color: -chess-color-parchment;
	-fx-control-inner-background: -chess-color-light-gray;
	-fx-outer-border: -chess-color-black;
	-fx-inner-border: transparent;
	-fx-inner-border-horizontal: transparent;
	-fx-body-color: -chess-color-parchment;
	-fx-body-color-bottomup: transparent;
	-fx-mark-color: -chess-color-dark-red;
	-fx-mark-highlight-color: -chess-color-dark-red;
	-fx-accent: -chess-color-dark-red;
	-fx-focus-color: -chess-color-dark-red;
	-fx-cell-focus-inner-border: -chess-color-dark-red;
}

.chess-main-app-view {
	-fx-background-color: -chess-color-light-gray;
}

.chess-transparent-pane {
	-fx-background-color: transparent;
}

.chess-side-bar {
	-fx-background-color: transparent;
}

.chess-board-cell {
	-fx-background-color: -chess-color-green;
	-fx-text-fill: -chess-color-black;
 	-fx-border-color: -chess-color-black;
    -fx-border-width: 0 0 0 0;
}

.chess-board-cell-alternate {
	-fx-background-color: -chess-color-parchment;
	-fx-text-fill: -chess-color-black;
 	-fx-border-color: -chess-color-black;
    -fx-border-width: 0 0 0 0;
}

.chess-board-cell-border-top {
 	-fx-border-width: 2 0 0 0;
}

.chess-board-cell-border-bottom {
 	-fx-border-width: 0 0 2 0;
}

.chess-board-cell-border-left {
 	-fx-border-width: 0 0 0 2;
}

.chess-board-cell-border-right {
 	-fx-border-width: 0 2 0 0;
}

.chess-board-cell-border-top-right {
 	-fx-border-width: 2 2 0 0;
}

.chess-board-cell-border-bottom-right {
 	-fx-border-width: 0 2 2 0;
}

.chess-board-cell-border-top-left {
 	-fx-border-width: 2 0 0 2;
}

.chess-board-cell-border-bottom-left {
 	-fx-border-width: 0 0 2 2;
}

.chess-highlighted-cell {
 	-fx-background-color: -chess-color-orange;
 }

.button {
	-fx-background-color: -chess-color-parchment;
	-fx-text-fill: -chess-color-black;
	-fx-font-size: 14pt;
	-fx-border-color: -chess-color-black;
	-fx-border-width: 2;
	-fx-background-radius: 5;
	-fx-border-radius: 3;
	/** Without this, the background color leaks out of the border a little bit. */
	-fx-border-insets: 0 0 -1 0, 0 0 0 0;
}

/** Used for when a filter button is pressed and needs to retain a state. This must be after .button to override it. */
.chess-combo-button-selected {
	-fx-background-color: -chess-color-dark-red;
	-fx-text-fill: -chess-color-parchment;
}

.chess-combo-button-unselected {
	-fx-background-color: -chess-color-parchment;
	-fx-text-fill: -chess-color-black;
}

.button:armed {
	-fx-background-color: -chess-color-dark-red;
}

/* Application system menu buttons (in the top corners of the screen). This must be after .button to override those configurations. */
.chess-system-menu-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width : 0;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-border-width: 0;
}

/* Application system menu buttons (in the top corners of the screen). This must be after .button to override those configurations. */
.chess-system-menu-button:hover {
	-fx-background-color: derive(-chess-color-light-gray,-30%);
}

.menu-bar {
	-fx-background-color: -chess-color-light-gray;
	-fx-font-size: 14pt;
}

.text-area {
	-fx-border-color: -chess-color-black;
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	-fx-border-width: 2;
}

/* Defines the rectangle responsible for the shadow. */
.decoration-shadow {
    -fx-fill: -chess-color-light-gray;
    -fx-stroke-width: 0;
}

/* Somehow the menu separator CSS got overwritten, this fixes that problem. */
.separator:horizontal > .line {
    -fx-background-color: null;
    -fx-padding: 0.083333em 0.0em 0.0em 0.0em; /* 1 0 0 0 */
    -fx-border-color: derive(-fx-background,-20%) transparent transparent transparent;
}

.tooltip {
	-fx-font-size: 12pt;
}

.text-field {
	-fx-border-width: 2;
	-fx-border-radius: 3;
	-fx-border-color: -chess-color-black;
	-fx-background-color: -chess-color-off-white;
}

.chess-uneditable-text-field {
	-fx-background-color: -chess-color-light-gray;
}

.combo-box-base {
	-fx-background-color: -chess-color-off-white;
}

.combo-box-base:editable > .text-field,
.color-picker-label {
	-fx-border-color: -chess-color-black;
	-fx-background-color: -chess-color-off-white;
	-fx-border-width: 2 0 2 2;
	-fx-border-radius: 3 0 0 3;
}

.color-picker-label {
	-fx-padding: 5;
}

.combo-box-base > .arrow-button {
	-fx-background-color: -chess-color-parchment;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0;
	-fx-padding: 0 0.667em 0 0.667em; /* 6 8 6 8 */
	-fx-border-width: 2;
	-fx-border-radius: 0 3 3 0;
	-fx-border-color: -chess-color-black;
}

.check-box > .box {
	-fx-background-color: -chess-color-off-white;
	-fx-border-color: -chess-color-black;
	-fx-border-width: 2;
	-fx-background-radius: 3;
	-fx-border-radius: 3;
}

.virtual-flow, .scroll-bar, .scroll-bar, .scroll-bar>.track, .scroll-bar>.track,
	.scroll-bar>.track-background, .scroll-bar>.track-background,
	.scroll-bar>.increment-button, .scroll-bar>.decrement-button {
	-fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow, .scroll-bar>.decrement-button>.decrement-arrow,
	.scroll-bar:horizontal>.thumb, .scroll-bar:vertical>.thumb {
	-fx-background-color: -chess-color-dark-red;
}

.list-view {
	-fx-border-color: -chess-color-black;
	-fx-border-width: 2;
}

.list-cell:selected,
.list-cell:filled:selected:hover {
	-fx-background-color: -chess-color-dark-red;
	-fx-text-fill: -chess-color-off-white;
}

.scroll-pane,
.scroll-pane > .corner {
    -fx-background-color: -chess-color-light-gray;
}

.chess-color-button-selected {
	-fx-border-width: 0;
}